
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <context-param>
  	<param-name>isLog4jAutoInitializationDisabled</param-name>
  	<param-value>true</param-value>
  </context-param>
  <filter>
  	<filter-name>WebFilter</filter-name>
  	<display-name>WebFilter</display-name>
  	<description></description>
  	<filter-class>com.laetienda.wiki.tomcat.WebFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>WebFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
  	<listener-class>com.laetienda.wiki.tomcat.Load</listener-class>
  </listener>

  <servlet>
  	<servlet-name>home</servlet-name>
  	<jsp-file>/WEB-INF/jsp/home/index.jsp</jsp-file>
  </servlet>
   <servlet>
  	<servlet-name>securetest</servlet-name>
  	<jsp-file>/WEB-INF/jsp/home/secure.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>home</servlet-name>
  	<url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>home</servlet-name>
  	<url-pattern></url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>securetest</servlet-name>
  	<url-pattern>/secure</url-pattern>
  </servlet-mapping>
  
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>users</web-resource-name>
  		<url-pattern>/secure</url-pattern>
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>users</role-name>
  	</auth-constraint>
  	<user-data-constraint>
  		<transport-guarantee>NONE</transport-guarantee>
  	</user-data-constraint>
  </security-constraint>
  
  <login-config>
  	<!-- <auth-method>BASIC</auth-method> -->
  
  
  	<auth-method>FORM</auth-method>
  	<form-login-config>
  		<form-login-page>/WEB-INF/jsp/home/login.jsp</form-login-page>
  		<form-error-page>/WEB-INF/jsp/home/errorlogin.jsp</form-error-page>
  	</form-login-config>
  	
  </login-config>
  
  <security-role>
  	<description>All authenticated users</description>
  	<role-name>users</role-name>
  </security-role>
  
</web-app>
