<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Archetype Created Web Application</display-name>
  <context-param>
  	<param-name>isLog4jAutoInitializationDisabled</param-name>
  	<param-value>true</param-value>
  </context-param><!--WebEngine Filter-->
  <filter>
  	<filter-name>WebFilter</filter-name>
  	<filter-class>com.laetienda.wiki.filter.WebFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>WebFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
  	<listener-class>com.laetienda.wiki.tomcat.Load</listener-class>
  </listener><!--HtmlController--><servlet>
  	<servlet-name>HtmlController</servlet-name>
  	<servlet-class>com.laetienda.wiki.controller.HtmlController</servlet-class>
</servlet>
	<servlet-mapping>
		<servlet-name>HtmlController</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HtmlController</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping><!--Home-->
  <filter>
  	<filter-name>WikiOnFileIndex</filter-name>
  	<filter-class>com.laetienda.wiki.filter.WikiOnFileFilterIndex</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>WikiOnFileIndex</filter-name>
  	<url-pattern>/home.html</url-pattern>
  </filter-mapping><!-- **SECURITY CONFIGURATION** -->

  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>users</web-resource-name>
  		<url-pattern>/secure</url-pattern>
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>users</role-name>
  	</auth-constraint>
  	<user-data-constraint>
  		<transport-guarantee>NONE</transport-guarantee>
  	</user-data-constraint>
  </security-constraint>
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>myself</web-resource-name>
  		<url-pattern>/myself/*</url-pattern>
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>myself</role-name></auth-constraint>
  	<user-data-constraint>
  		<transport-guarantee>NONE</transport-guarantee>
  	</user-data-constraint>
  </security-constraint>
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>admin@brdc</web-resource-name>
  		<url-pattern>/brdc/*</url-pattern>
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>admin@brdc</role-name></auth-constraint>
  	<user-data-constraint>
  		<transport-guarantee>NONE</transport-guarantee>
  	</user-data-constraint>
  </security-constraint>
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>admin@sesm</web-resource-name>
  		<url-pattern>/sesm/*</url-pattern>
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>admin@sesm</role-name></auth-constraint>
  	<user-data-constraint>
  		<transport-guarantee>NONE</transport-guarantee>
  	</user-data-constraint>
  </security-constraint>

  <login-config>
  	<!-- <auth-method>BASIC</auth-method> -->
  
  
  	<auth-method>FORM</auth-method>
  	<form-login-config>
  		<form-login-page>/WEB-INF/html/login.jsp</form-login-page>
  		<form-error-page>/WEB-INF/jsp/errorlogin.jsp</form-error-page>
  	</form-login-config>
  	
  </login-config>
  
  <security-role>
  	<description>All authenticated users</description>
  	<role-name>users</role-name>
  </security-role>
  <security-role>
  	<description>It will access files that are important to myself</description>
  	<role-name>myself</role-name>
  </security-role>
  <security-role>
  	<description>All admins of BRDC</description>
  	<role-name>admin@brdc</role-name>
  </security-role>
  <security-role>
  	<description>Admins of SESM (Solar Energie to Make Money)</description>
  	<role-name>admin@sesm</role-name>
  </security-role><!--Wiki On File--><servlet>
  	<servlet-name>wikiOnFile</servlet-name>
  	<jsp-file>/WEB-INF/jsp/wiki/WikiOnFile.jsp</jsp-file>
</servlet>
	<servlet-mapping>
		<servlet-name>wikiOnFile</servlet-name>
		<url-pattern>/public/*</url-pattern>
		<url-pattern>/myself/*</url-pattern>
		<!-- <url-pattern>/tournaments/*</url-pattern>  -->
		<url-pattern>/brdc/*</url-pattern>
		<url-pattern>/sesm/*</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>wikiOnFile</filter-name>
		<filter-class>com.laetienda.wiki.filter.WikiOnFileFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>wikiOnFile</filter-name>
		<url-pattern>/public/*</url-pattern>
		<url-pattern>/myself/*</url-pattern>
		<url-pattern>/tournaments/*</url-pattern>
		<url-pattern>/brdc/*</url-pattern>
		<url-pattern>/sesm/*</url-pattern>
	</filter-mapping><!--Path parts filter-->
	<filter>
		<filter-name>pathParts</filter-name>
		<filter-class>com.laetienda.lib.tomcat.FilterPath</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>pathParts</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping><!--WikiOnFile repositories--><context-param>
		<param-name>myself</param-name>
		<param-value>C:\Users\david\ownCloud\MyFiles\orgexports\private\MySelf</param-value>
</context-param>
	<context-param>
		<param-name>public</param-name>
		<param-value>C:\Users\david\ownCloud\MyFiles\orgexports\public</param-value>
	</context-param>
	<!--  
		<context-param>
			<param-name>tournaments</param-name>
			<param-value>C:\Users\david\ownCloud\MyFiles\orgexports\private\cafeteros\Tournaments</param-value>
		</context-param>
	 -->
	<context-param>
		<param-name>brdc</param-name>
		<param-value>C:\Users\david\ownCloud\MyFiles\orgexports\private\BRDC</param-value>
	</context-param>
	<context-param>
		<param-name>sesm</param-name>
		<param-value>C:\Users\david\ownCloud\MyFiles\orgexports\private\SESM</param-value>
	</context-param>

</web-app>
