<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"><!--Load application context-->
	<listener>
		<listener-class>com.laetienda.webdb.listener.Load</listener-class>
	</listener><!--WebEngide filter to attach web bean--><filter>
		<filter-name>WebEngine</filter-name>
		<filter-class>com.laetienda.webdb.filter.WebEngineFilter</filter-class>
</filter>
	<filter-mapping>
		<filter-name>WebEngine</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping><!--GROUP API--><filter>
		<filter-name>groupapifilter</filter-name>
		<filter-class>com.laetienda.controller.GroupApiFilter</filter-class>
</filter>
	<filter-mapping>
		<filter-name>groupapifilter</filter-name>
		<url-pattern>/api/group</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>groupapi</servlet-name>
		<servlet-class>com.laetienda.webdb.controller.GroupApiController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>groupapi</servlet-name>
		<url-pattern>/api/group</url-pattern>
	</servlet-mapping><!--Group Service<filter>
		<filter-name>GroupFilter</filter-name>
		<filter-class>com.laetienda.webdb.filter.GroupFilter</filter-class>
</filter>
	<filter-mapping>
		<filter-name>GroupFilter</filter-name>
		<url-pattern>/group/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>GroupServlet</servlet-name>
		<servlet-class>com.laetienda.webdb.controller.GroupController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GroupServlet</servlet-name>
		<url-pattern>/group/*</url-pattern>
	</servlet-mapping>--><!--Servlet to jump directly to jsp file
	<servlet>
		<description>It will jump files directly to jsp so it is not required to crate a jsp-servlet for each jsp file</description>
		<servlet-name>Html</servlet-name>
		<servlet-class>com.laetienda.webdb.controller.Html</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Html</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>--><!--**SECURITY CONFIGURACION**--><security-constraint>
		<web-resource-collection>
			<web-resource-name>users</web-resource-name>
			<url-pattern>/group.html</url-pattern>
			<url-pattern>/group/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>users</role-name></auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
</security-constraint>
	<security-role>
		<description>All authenticated users</description>
		<role-name>users</role-name>
	</security-role>
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/WEB-INF/html/login.jsp</form-login-page>
			<form-error-page>/WEB-INF/template/errorLogin.jsp</form-error-page>
		</form-login-config></login-config>
</web-app>