<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>frontend</display-name>
  <distributable />
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list><!--Load Context--><listener>
  	<listener-class>com.laetienda.frontend.tomcat.Load</listener-class>
</listener><!--Html Controller-->
  <servlet>
  	<servlet-name>HtmlController</servlet-name>
  	<servlet-class>com.laetienda.frontend.controller.HtmlController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HtmlController</servlet-name>
  	<url-pattern></url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HtmlController</servlet-name>
  	<url-pattern>*.html</url-pattern>
  </servlet-mapping><!--Template Servlet-->  
  <servlet>
  	<description>
  	</description>
  	<display-name>Template</display-name>
  	<servlet-name>Template</servlet-name>
  	<servlet-class>com.laetienda.frontend.controller.TemplateController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Template</servlet-name>
  	<url-pattern>/template/*</url-pattern>
  </servlet-mapping><!--settings servlet--><servlet>
  	<servlet-name>settings</servlet-name>
  	<jsp-file>/WEB-INF/jsp/settings/user.jsp</jsp-file>
</servlet>
	<servlet-mapping>
		<servlet-name>settings</servlet-name>
		<url-pattern>/settings/*</url-pattern>
	</servlet-mapping><!--ForAll filter (WebEngine bean)-->
  <filter>
    <filter-name>FilterForAll</filter-name>
    <filter-class>com.laetienda.frontend.tomcat.FilterForAll</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterForAll</filter-name>
    <url-pattern>/*</url-pattern> 
  </filter-mapping><!--PathParts filter-->
  <filter>
  	<filter-name>pathParts</filter-name>
  	<filter-class>com.laetienda.lib.tomcat.FilterPath</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>pathParts</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping><!--Form Filter--><filter>
  	<filter-name>FormFilter</filter-name>
  	<filter-class>com.laetienda.frontend.tomcat.FormFilter</filter-class>
</filter>
	<filter-mapping>
		<filter-name>FormFilter</filter-name>
		<url-pattern>/form/*</url-pattern>
	</filter-mapping>
	<security-role>
  	<description>all authenticated users</description>
  	<role-name>users</role-name>
  </security-role>
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>users</web-resource-name>
  		<url-pattern>/settings/user</url-pattern>
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>users</role-name></auth-constraint>
  	<user-data-constraint>
  		<transport-guarantee>NONE</transport-guarantee>
  	</user-data-constraint>
  </security-constraint>
  <login-config>
  	<auth-method>FORM</auth-method>
  	<form-login-config>
  		<form-login-page>/WEB-INF/html/login.jsp</form-login-page>
  		<form-error-page>/WEB-INF/jsp/loginError.jsp</form-error-page>
  	</form-login-config>
	
	</login-config>
</web-app>